body {
	background: #2f323a;
}


h3 {
    color: #E2E2E2;
    font-size: 50px;
    text-align: center;
  
    margin: 10px;
    border-bottom: 2px #E2E2E2 solid;

}

h1 {
	color: #E2E2E2;
}

dt {
	color:#E2E2E2;
}

dd {
	color:#E2E2E2;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: #E2E2E2;
}

.navbar-header {
	background-color: #6f41a8;
}

.panel-default {
	border-color: black;
}

.panel-default > .panel-heading {
  color: #E2E2E2;
  background-color: #242528;
  border-color: #4b296b;
}

.panel-body {
	background-color: #242528;
	color: #E2E2E2;
}

