body {
	background: #2f323a;
}


h3 {
    color: #E2E2E2;
    font-size: 50px;
    text-align: center;
  
    margin: 10px;
    border-bottom: 2px #E2E2E2 solid;

}

h1 {
	color: #E2E2E2;
}


h4 {
  color:#E2E2E2;
 
}
h5 {
  font-size: 20px;
  text-align: center;
  color: #9b65dd;
}
  
h2{
  color: white;
  font-size: 40px;
}

textarea {
  resize: none;
  background-color: #E2E2E2;
}

.form-control {
  width:80%;
  background-color: #E2E2E2;
}
.form-big {
  height:300px;
  width:80%;

}

.jumbotron {
  background-color: #242528
}

dt {
	color:#E2E2E2;
}

dd {
	color:#E2E2E2;
}

p {
    font-family: verdana;
    font-size: 15px;
    color: #E2E2E2;
}

.navbar-header {
	background-color: #6f41a8;
}

.panel-default {
	border-color: black;
}

.panel-default > .panel-heading {
  color: #E2E2E2;
  background-color: #242528;
  border-color: #4b296b;
}

.panel-body {
	background-color: #242528;
	color: #E2E2E2;
}

.panel-title {
  font-size: 30px;
}

.btn {
  background-color: #9b65dd;
  border:2px #4b296b solid;
}

.btn:active {
  background-color: #9b65dd;
  border:2px #4b296b solid;
}

.btn:hover {
  background-color:#6f41a8;
   border: 2px #4b296b solid;
}

.btn-lg {
  width:90%;

}


.btn:disabled {
  background-color: #4b296b;
  border: 2px #4b296b solid;
}
.btn:disabled:hover {
  background-color: #4b296b;
  border: 2px #4b296b solid;
}